body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
}



h1, h4, h6, p {
    text-align: center;
    color: white;
}

h1 {
    margin-top:3%;
}

div.letter {
  opacity: 0;
  transition: .4s;
}

div.letter:hover {
    background: linear-gradient(to right, #03001e, #7303c0, #bd39df,  #7303c0, #03001e); 
    opacity: 1;
    
}

.letter p {
    color: white;
    margin-top: 17%;
}

